# Node.js dependencies
node_modules/
npm-debug.log*
yarn-error.log
package-lock.json
yarn.lock

# Build files
dist/
build/
.cache/
.vite/

# Editor & OS-specific files
.DS_Store
Thumbs.db
*.log
*.swp
*.swo
*.swn
*.bak

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test

# Miscellaneous
.idea/
.vscode/
.history/
.npm/
.out/
coverage/
